<h1> TestSuites </h1> 
<table>
  <tr>
    <th>Testsuite  Name </th>
    <th>Address</th>
    <th>Type</th>
  </tr>
  <% @testsuites.each do |testsuite| %>
		<tr>
      <td><%= testsuite.TestName %></td>
      <td><%= testsuite.address %></td>
      <td><%= testsuite.cat %></td>
		</tr>
  <% end %>
</table>
<%= link_to 'Add New Test', new_testsuite_path %>

~                                                                                                                                                                                                                                                                                  
~                                                                                                                                                                                                                                                                                  
~                                                                                                                                                                                                                                                                                  
~                                                                                                     
