<h1>TestSuites </h1>

<p>
  <strong>Test Name :</strong>
  <%= @testsuite.TestName %>
</p>

<p>
  <strong>Address:</strong>
  <%= @testsuite.address %>
</p>

<p>
  <strong>Type:</strong>
  <%= @testsuite.cat%>
</p>

<%= link_to 'New article', new_testsuite_path %>
~                                                                                                                                             
~                                                                                                                                             
~                                 
