<h1>Sites </h1>
<table>
  <tr>
    <th>Sites URL </th>
  </tr>

  <% @sites.each do |site| %>

    <tr>
      <td><%= site.siteURL %></td>
    </tr>

  <% end %>
</table>

<%= link_to 'Add New Site', new_site_path %>
<br>
<%= link_to 'WordPress test ', testweb_index_path %>                     
