<h1>New Site Added </h1>
<p>
  <strong>Site  :</strong>
  <%= @sites.siteURL %>
</p>
<%= link_to 'Add New Site ', new_site_path %>
<br> 
<%= link_to 'Show All Sites ', sites_path %>



                                                                                                                                                                                                                                                                                         
                                                                                                                                                                                                                                                                                         
                                                
