<center>
	<h1>New Site Added </h1>
</center>
<p>
  <strong>Site  :</strong>
  <%= @sites.siteURL %>
</p>
<%= link_to 'Add New Site ', new_site_path %>&nbsp&nbsp&nbsp 
<%= link_to 'Show All Sites ', sites_path %>&nbsp&nbsp&nbsp
<%= link_to 'WordPress Automation Testing ', testweb_index_path %>




                                                                                                                                                                                                                                                                                         
                                                                                                                                                                                                                                                                                         
                                                
